* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Tw Cen MT Condensed', sans-serif;
}


.container {
    max-width: 1400px;
    margin: auto;
}


h1 {
    color: beige;
    font-size: 100px;
}


h3 {
    background-color: #CAD2C5;
    color: rgb(53, 79, 82);
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 25px;

}

.cat__descrip {
    color: rgb(53, 79, 82);
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 25px;
    text-align: justify;

}


ul {
    list-style: none;
}


button {
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;

}

.primary-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #354F52;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: beige;
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 40px;
}


.secondary-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #354F52;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: beige;
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 30px;
    margin-top: 200px;
}


.primary-button:hover {
    background-color: #E3B23C;
}


.secondary-button:hover {
    background-color: #354F52;
    transition: all .4s;
}




header {
    background-color: #354F52;
    max-width: 1400px;
    margin: auto;

}


header .container {
    align-items: center;
    background-color: #354F52;
    display: flex;
    flex-direction: column;
}


header .logo {
    color: #E3B23C;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 25px 30px;
}

.search-box {
    display: flex;
    padding: 30px;

}

header input {
    width: 100px;
    font-size: 20px;
    border-radius: 7px;
    background-color: #CAD2C5;
    text-align: center;
    font-family: 'Tw Cen MT Condensed', sans-serif;
    align-items: center;
}

header input:hover {
    width: 250px;
    transition: width .6s ease-in;
}

header input:focus {
    width: 250px;
}


header nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    text-align: center;
}


header a {
    color: beige;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
}


header a:hover {
    color: #E3B23C;
}




#hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/media/Recurso\ 8@3x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1400px;
    margin: auto;
}

#hero:hover {
    height: 860px;
    transition: height 3s cubic-bezier(0.385, 0.135, 0.15, 0.86);
}

#hero2 {
    align-items: center;
    background-color: #354F52;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    text-align: center;
    max-width: 1400px;
    margin: auto;
}




.categories {
    background-color: #E3B23C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
}

.categories__title {
    background-color: rgb(202, 210, 197);
    border-radius: 10px;
    border: 2px solid;
    color: rgb(53, 79, 82);
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-size: 23px;
    height: 30px;
    margin: 25px 25px 25px;
    text-align: center;
    text-decoration: none;
    width: 180px;
}




main {
    background-color: #CAD2C5;
    margin-top: 50px;
}


.main-games {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;

}

.main-menu__news {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px;
    border: 2px solid #354F52;
    border-radius: 20px;
    margin: 30px;
}

.main-menu__photo {
    border-radius: 20px;
    width: 110px;
}

.main-menu__title {
    padding: 30px;
    font-size: 30px;
}




#abstractos .container {
    padding: 35px;
}


#abstractos .card-abstractos {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 300px;
}


.card-abstractos:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto1.jpg);
}


.card-abstractos:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto2.jpg);
}


.card-abstractos:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto1.jpg);
}


.card-abstractos:nth-child(4) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto1.jpg);
}




#ameritrash .container {
    padding: 0px 35px;
}

#ameritrash .card-ameritrash {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 300px;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 300px;
}

.card-ameritrash:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto1.jpg);
}

.card-ameritrash:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto1.jpg);
}

.card-ameritrash:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto1.jpg);
}


.card-ameritrash:nth-child(4) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/abstracto1.jpg);
}


footer {
    background-color: #354F52;
    height: auto;
}

.footer__title {
    color: #E3B23C;
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
}

footer a {
    color: beige;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
}


footer a:hover {
    color: #E3B23C;
}

.container__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 35px;
}

.column__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
}



@media (min-width: 720px) {

    header .container {
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }
}






