<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Play Board Games</title>
</head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="../index.html">Play Board Games</a>
            <nav>
                <a href="../views/news.html">NEWS!</a>
                <a href="#">TOP JUEGOS</a>
                <a href="#">QUIENES SOMOS</a>
                <a href="#footer">CONTACTO</a>
            </nav>
        </div>
    </header>

    <section id="hero2">
        <h1>News!</h1>
        <form action="#main">
            <button class="primary-button">mira las novedades</button>
        </form>
    </section>

    <section class="grilla" class="container">
        <section id="menu">
            <div class="container">
                <article class="categories">
                    <h3 class="categories__title">CATEGORÍAS</h3>
                    <h3 class="categories__title">EDAD</h3>
                    <h3 class="categories__title">DURACIÓN</h3>
                    <h3 class="categories__title">JUGADORES</h3>
                    <h3 class="categories__title">INTERACCIÓN</h3>
                </article>
            </div>
        </section>

        <main id="main" class="container">
            <section id="abstractos">
                <div class="container">
                    <article class="main-menu__news">
                        <img class="main-menu__photo" src="../media/load.png" alt="juego">
                        <h4 class="main-menu__title">Nombre juego</h4>
                        <p class="cat__descrip">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero dicta fuga ex dolorum eaque et beatae cupiditate, est provident ratione. Dolore velit esse obcaecati facilis, delectus atque consequuntur dolorem ratione?</p>
                    </article>
                    <div>
                        <article class="main-menu__news">
                            <img class="main-menu__photo" src="../media/load.png" alt="juego">
                            <h4 class="main-menu__title">Nombre juego</h4>
                        </article>
                    </div>
                    <div>
                        <article class="main-menu__news">
                            <img class="main-menu__photo" src="../media/load.png" alt="juego">
                            <h4 class="main-menu__title">nombre juego</h4>
                        </article>
                    </div>
                </div>  
            </section>
        </main>

        <footer id="footer" class="container">
            <div class="container__footer">
                <div class="column1">
                    <h2 class="footer__title">Entradas recientes</h2>
                    <div class="column__content">
                        <a href="#">link 1</a>
                        <a href="#">link 2</a>
                        <a href="#">link 3</a>
                    </div>
                </div>
                <div class="column2">
                    <h2 class="footer__title">Links</h2>
                    <div class="column__content">
                        <a href="#">link 1</a>
                        <a href="#">link 2</a>
                        <a href="#">link 3</a>
                    </div>
                </div>
                <div class="column3">
                    <h2 class="footer__title">Contacto</h2>
                    <form class="column__content" action="./views/enviado.html" method="post" enctype="">
                        <input type="email" name="mail" id="">
                        <input type="text" name="nombre">
                        <input type="text" name="mensaje">
                        <input type="submit" value="Enviar">
                    </form>
                </div>
                <div class="column4">
                    <h2 class="footer__title">Siguenos!</h2>
                    <div class="column__content">
                        <a href="#">link 1</a>
                        <a href="#">link 2</a>
                        <a href="#">link 3</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    </html>
    


    