#hero2 {
    align-items: center;
    background-color: #354F52;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    text-align: center;
    max-width: 1400px;
    margin: auto;
}